{% extends '/layout.html.twig' %}
{% block content %}
    <div class="row">
        <h1 class="col">{% trans %}Archived products{% endtrans %}</h1>
    </div>
    <div class="row mb-3">
        <div class="col">
            <a
                    class="btn btn-sm btn-secondary"
                    href="{{ path('app_products') }}"
                    title="{% trans %}Products{% endtrans %}"
            >
                &nbsp;<i class="fas fa-hamburger"></i> {% trans %}Products{% endtrans %}
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <table class="table table-bordered table-primary table table-striped table-sm">
                <thead class="thead-primary">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th class="text-center"><i class="fas fa-cogs"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name|e }}</td>
                        <td class="col-md-auto text-center">
                            <a
                                    class="btn btn-sm btn-warning"
                                    href="{{ path('app_unarchiveproduct', {id: product.id}) }}"
                                    title="{% trans %}Unarchive product{% endtrans %}"
                            >
                                <i class="fas fa-box-open"></i>
                            </a>
                            <button
                                    data-type="{% trans %}product{% endtrans %}"
                                    data-link="{{ path('app_deleteproduct', {id: product.id}) }}"
                                    data-description="{{ product.name|e }}"
                                    type="button"
                                    class="btn btn-sm btn-danger deleteProduct"
                                    data-toggle="modal"
                                    data-target="#deleteModal"
                            >
                                <i class="fas fa-trash-alt"></i>
                            </button>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center">{% trans %}No products found.{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(products) }}
        </div>
    </div>


    {% include 'partial/delete.modal.html.twig' %}
{% endblock %}
