{% extends '/layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col">{{ user.userName }}</h1>
            <div class="col text-right">
            </div>
        </div>
        <div class="row">
            <hr class="col"/>
        </div>
        <div class="row">
            <div class="col image-placeholder">
                {% if user.getUserProfile.getImage.nameImage is defined %}
                    <a href="{{ path('app_deleteuserimage', {id: user.getUserProfile.getImage.getId}) }}" class="btn btn-danger delete-image-btn">
                        <i class="fas fa-1x fa-trash-alt"></i>
                    </a>
                    {% set imageUrl = user.getUserProfile.getImage.getImageLocationByType('blogging2') %}
                    <img src="{{ imageUrl }}" class="img-fluid" alt="test" />
                {% endif %}
            </div>
            <div class="col">
                {{ form_start(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.lastNamePrefix) }}
                {{ form_row(form.birthday) }}
                {% if user.getUserProfile.getImage.nameImage is not defined %}
                    {{ form_row(form.image.imageFile) }}
                    {{ form_row(form.image.nameImage) }}
                    {{ form_row(form.image.alt) }}
                    {{ form_row(form.image.descriptionImage) }}
                {% endif %}
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}